<!-- NAVBAR UP HERE -->
<ion-content class='course-cities-page'>
  <h4 class='headerstyle'>Which city would you like to do iX Full Stack in?</h4>
  <p class='blocktext'>Tap and explore. As always, you can change your selection later, even after you submit an application.</p>
  <div>
    <ion-grid>
      <ion-row justify-content-center align-items-center>
        <ion-card (click) = 'isbuttonClicked()'>
          <img src = 'https://www.worldatlas.com/r/w728-h425-c728x425/upload/0e/90/a0/shutterstock-796737793.jpg'>
          <div class='card-title'>Cape Town</div>
        </ion-card>
        <ion-card (click) = 'isbuttonClicked()'>
          <img src = 'https://images.theconversation.com/files/125391/original/image-20160606-13080-s7o3qu.jpg?ixlib=rb-1.1.0&rect=273%2C0%2C2639%2C1379&q=45&auto=format&w=926&fit=clip'>
          <div class = 'card-title'>Lisbon</div>
        </ion-card>
      </ion-row>
    </ion-grid>
  </div>
 </ion-content>