<!-- NAVBAR UP HERE -->
<ion-content class='course-cities-page'>
  <h4 class='headerstyle'>Which city would you like to do iX Full Stack in?</h4>
  <p class='blocktext'>Tap and explore. As always, you can change your selection later, even after you submit an application.</p>
  <div>
    <ion-grid>
      <ion-row *ngFor="let city of availableCities let i=index;" (click)="navToCityInfo(index, city)">
        <ion-card>
          <div class="card-credits">
            <ion-button size="small" color="light">6 credits</ion-button>
          </div>
          <img src="https://lonelyplanetimages.imgix.net/mastheads/stock-photo-welcome-to-cape-town-104168527.jpg?sharp=10&vib=20&w=1200"/>
          <div class="card-title">{{city.name}}</div>
        </ion-card>
      </ion-row>
    </ion-grid>
  </div>
 </ion-content>