<!-- NAVBAR UP HERE -->
<ion-content overflow-scroll="true">
  <div class='container'>
    <div class='row'>
      <div class='col-10 offset-1'>
        <h4 class='font-weight-bold mb-4 mt-5'>Which city would you like to do iX {{program.name}} in?</h4>
        <p class='mb-3 font-weight-lighter'>Tap and explore. As always, you can change your selection later, even after you submit an application.</p>
      </div>
    </div>
    <div class='row'>
      <div class='col-12' *ngFor="let city of availableCities let i=index;" (click)="navToCityInfo(index, city)">
        <div class='image-btn mb-3 rounded' style="background-image: url('assets/images/capetown.jpg')">
          <h4 class="text bottom-left pl-3 pb-3">
            {{city.name}}
          </h4>
        </div>
      </div>
    </div>
  </div>
</ion-content>
