<!-- NAVBAR UP HERE -->
<ion-content overflow-scroll="true">
  <div class='container'>
    <div class='row'>
      <div class='col-10 offset-1'>
        <h4 class='font-weight-bold mb-4 mt-5'>Got it. You can choose one of two ways to finish your application to iXperience.</h4>
        <p class='font-weight-lighter'>Applying is free and non-binding. You have the same chance of admission regardless of which option your select.</p>
        <p class='font-weight-bold mb-4 mt-5'> Option 1: phone interview (25 mins)</p>
        <div class='card rounded' style='width: 100%'>
          <div class='row'>
            <div class='col-4'>                    
              <img class='card-img pt-4' src='http://cdn3.ixperience.co.za/assets/internship/accenture/pillar-highlight-8a68a8661eaf8ebf67710e01de948db46a02d6703a704caf2c0509fc705c5868.jpg'/>
            </div>
            <div class='col-6'>
              <p class='font-weight-lighter pt-3' style='font-size: 12px'>Schedule a day and time and we'll phone you back for a 25-minute interview.</p>
              <div class='pb-3 pr-3' style='width:110%'>
                <button type='button' class='roundbutton pink-btn btn-btn-primary btn-sm text-white font-weight-bold' style='width: 130%'>Schedule interview</button>
              </div>
            </div>
          </div>
        </div>
        <p class='font-weight-bold mb-4 mt-5'> Option 2: written application (30 mins)</p>
          <div class='card rounded mb-4' style='width: 100%'>
            <div class='row'>
              <div class='col-4'>                    
                <img class='card-img pt-4' src='http://cdn2.ixperience.co.za/assets/internship/present-58943e5af487561fd0b7c64347c54463d4f1907645c059f5ab8434fad6e1c3be.jpg'/>
              </div>
              <div class='col-6'>
                <p class='font-weight-lighter pt-3' style='font-size: 12px'>Write responses to three questions and submit your application for review.</p>
                <div class='pb-3 pr-3' style='width:110%'>
                  <button type='button' class='roundbutton pink-btn btn-btn-primary btn-sm text-white font-weight-bold'style='width: 130%'>Write application</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</ion-content>