<!-- NAVBAR UP HERE -->
<ion-content class='youroptions-page'>
  <h4 class='headerstyle'>Got it. You can choose two ways to finish your application to iXperience.</h4>
  <p class='cool-text'>Applying is free and non-binding. You have the same chance of admission regardless of which option you select.</p>
  <div>
    <ion-grid>
      <ion-row justify-content-center align-items-center>
        <h6 class = 'headerstyle'>Option 1: phone interview (25 mins)</h6>
        <ion-card>
          <img src = 'https://www.worldatlas.com/r/w728-h425-c728x425/upload/0e/90/a0/shutterstock-796737793.jpg'>
          <div class = 'card-text'>Schedule a day and time and we'll phone you back for a 25-minute interview.</div>
          <ion-button color='pink' class='ion-button'>Schedule Interview</ion-button>
        </ion-card>
        <h6 class = 'headerstyle'>Option 2: written application (30 mins)</h6>
        <ion-card>
          <img src = 'https://images.theconversation.com/files/125391/original/image-20160606-13080-s7o3qu.jpg?ixlib=rb-1.1.0&rect=273%2C0%2C2639%2C1379&q=45&auto=format&w=926&fit=clip'>
          <div class = 'card-text'>Write responses to three questions and submit your application for review.</div>
        </ion-card>
      </ion-row>
    </ion-grid>
  </div>
 </ion-content>