<ion-content class = "base-styling" >
            <div class = "cool-header"> You've just started an incredible journey, Seth.</div>
            <div class = "cool-text">
              At iXperience, you can travel to an amazing city, learn an in-demand skill, and intern with an innovative company— all while earning college credit, in one summer abroad. </div>
            <div class='cool-text'> In the next few steps, you'll be able to learn more about iX, build your summer abroad with us, and do a short application.  </div>
            <ion-button (click) = 'navToFields()'>Get started</ion-button>
 
      </ion-content>