<div class='row'>
  <div class='col-10 offset-1'>
    <h3 class='font-weight-bold pt-5 m-3'> You've just started an incredible journey, Seth.<h3>
    <p class='font-weight-lighter'>At iXperience, you can travel to an amazing city, learn an in-demand skill, and intern with an innovative company— all while earning college credit, in one summer abroad.</p>
    <p class='font-weight-lighter mb-5'> In the next few steps, you'll be able to learn more about iX, build your summer abroad with us, and do a short application.</p>
    <button type='button' class='text pink-btn btn-btn-primary btn-lg rounded ml-4 pl-3' (click)=navToFields()>Get started</button>
