<!-- <ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="courses-page">
  <div class="cool-header" [ngPlural]="numberOfCourses">
    <b>Nice. You have {{numberOfCourses}} {{field}}-focused course-internship
    <ng-template ngPluralCase="=1">program</ng-template>
    <ng-template ngPluralCase="other">programs</ng-template>
     to choose from this summer.</b>
  </div>
  <div class="cool-text">Tap on one to learn more.</div>
  <div class="cool-text"><i>No prior experience is required for any of these programs.</i></div>
  <ion-grid style="height: 100%">
    <ion-row *ngFor="let course of availableCourses let i=index;" (click)="navToCourseInfo(index, course)">
      <ion-card>
        <div class="card-credits">
          <ion-button size="small" color="light">6 credits</ion-button>
        </div>
        <img src="https://lonelyplanetimages.imgix.net/mastheads/stock-photo-welcome-to-cape-town-104168527.jpg?sharp=10&vib=20&w=1200"/>
        <div class="card-title">{{course[0].name}}</div>
        <div class="card-subtitle">Available in {{course[1]}}</div>
      </ion-card>
    </ion-row>
  </ion-grid>

</ion-content>
