

<body>
  <div class='rounded-header'>
    <div class='card'>
      <img class="card-img" src="https://lonelyplanetimages.imgix.net/mastheads/stock-photo-welcome-to-cape-town-104168527.jpg?sharp=10&vib=20&w=1200" alt="Full Stack in Cape Town">
      <div class="card-img-overlay">
        <h5 class='card-title'>Full Stack Coding</h5>
        <h6 class='card-subtitle mb-2 test-muted'>Availible in Cape Town and Lisbon</h6>
      </div>
    </div>
  </div>

        
    <!-- <ion-toolbar class="course-info-header" no-padding> 
        <ion-grid style="height: 100%">
          <ion-row justify-content-center align-items-center style="height: 100%">
            <img src="https://lonelyplanetimages.imgix.net/mastheads/stock-photo-welcome-to-cape-town-104168527.jpg?sharp=10&vib=20&w=1200"/>
            <div class="card-title">Full Stack Coding</div>
            <div class="card-subtitle">Available in Cape Town and Lisbon</div>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
   -->
  <div class="course-info-content">
    <ion-grid style="height: 100%">
        <ion-row justify-content-center align-items-center style="height: 100%">
          <ion-card>
            <div class="alum">
            <ion-avatar>
              <img src="http://ixperience.co.za/favicon.ico">
            </ion-avatar>
            Before iX, I never even typed a single line of code. 
            After 6 weeks, I was able to create a web app for a new building security sign-in method, 
            applying the skills I learned in the clasroom in my internship.
        </div>
    <div class="dates">
        <b>Dates & Credits:</b><br><br>
        6 weeks, 6 credits, two session options. <br><br>
        May 28 - August 14 
        <hr>
        OR
        <hr>
        June 15 - August 20, 2020
    </div>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="//www.youtube.com/embed/wMuNjnNyaiA" allowfullscreen></iframe>
    </div>

    <ion-row>
      <ion-col width-50 style="text-align: right">
        <ion-button color="grey" small>Email Me A Brochure</ion-button>
      </ion-col>
      <ion-col width-50 style="text-align: left">
        <ion-button color="pink" small>Continue Application</ion-button>
      </ion-col>
    </ion-row>

    <!-- <div class="facts">
      > BLAH BLAH CODING<br><br>
      > SO COOL CODING<br><br>
      > MORE FUN FACTS CODING<br>
    </div> -->
    
  </ion-card>
</ion-row>
</ion-grid>

