
  <div class='row'>
    <div class='col-12 text-center'>
      <div class='image-header py-4 px-3' style="background-image: url('//cdn2.ixperience.co.za/assets/backgrounds/full-stack-main-9ebe7fbb8b778329e9fea2bf24b7bccd5f86def1f41e8e9d55f58632d56f0224.jpg')">
      <h4 class='text font-weight-bold mb-2 mt-0'>iXperience Full Stack Coding</h4>
      <p class='text font-weight-lighter mb-5'>Availible in Cape Town and Lisbon</p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class='row'>
        <div class='col-10 offset-1'>
          <div class='text-center'>
          <img src="http://cdn0.ixperience.co.za/assets/people/stephanie-shin-7bb590a17d9f8bf0e1188db26d11392391c592d3344e1ab0d97e9e977ccd4aee.jpg" alt='Alum' class='avatar mb-2'>
          </div>
          <h6 class="card-subtitle mb-2 text-muted"><i>Before iX, I never even typed a single line of code. 
            After 6 weeks, I was able to create a web app for a new building security sign-in method, 
            applying the skills I learned in the clasroom in my internship.</i></h6>
          <h6 class='font-weight-bold'>Dates & Credits</h6>
          <p class='font-weight-lighter'>6 weeks, 6 credits, two session options. May 28-August 14 OR June 15-August 20, 2020</p>
          <div class="embed-responsive embed-responsive-16by9" class='mb-2'>
              <iframe class="embed-responsive-item" src="//www.youtube.com/embed/wMuNjnNyaiA" allowfullscreen></iframe>
          </div>
          <button type='button' class="roundbutton btn-btn-primary btn-sm font-weight-bold">Email me a brochure</button>
          <button type='button' class='roundbutton pink-btn btn-btn-primary btn-sm ml-4 text-white font-weight-bold' (click)='navToCourseCities()'>Select & continue</button>
        </div>
      </div>
    </div>
  </div>



        
    <!-- <ion-toolbar class="course-info-header" no-padding> 
        <ion-grid style="height: 100%">
          <ion-row justify-content-center align-items-center style="height: 100%">
            <img src="https://lonelyplanetimages.imgix.net/mastheads/stock-photo-welcome-to-cape-town-104168527.jpg?sharp=10&vib=20&w=1200"/>
            <div class="card-title">Full Stack Coding</div>
            <div class="card-subtitle">Available in Cape Town and Lisbon</div>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
   -->
  <!-- <div class="course-info-content">
    <ion-grid style="height: 100%">
        <ion-row justify-content-center align-items-center style="height: 100%">
          <ion-card>
            <div class="alum">
            <ion-avatar>
              <img src="http://ixperience.co.za/favicon.ico">
            </ion-avatar>
            Before iX, I never even typed a single line of code. 
            After 6 weeks, I was able to create a web app for a new building security sign-in method, 
            applying the skills I learned in the clasroom in my internship.
        </div>
    <div class="dates">
        <b>Dates & Credits:</b><br><br>
        6 weeks, 6 credits, two session options. <br><br>
        May 28 - August 14 
        <hr>
        OR
        <hr>
        June 15 - August 20, 2020
    </div>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="//www.youtube.com/embed/wMuNjnNyaiA" allowfullscreen></iframe>
    </div>

    <ion-row>
      <ion-col width-50 style="text-align: right">
        <ion-button color="grey" small>Email Me A Brochure</ion-button>
      </ion-col>
      <ion-col width-50 style="text-align: left">
        <ion-button color="pink" small>Continue Application</ion-button>
      </ion-col>
    </ion-row>

     <div class="facts">
      > BLAH BLAH CODING<br><br>
      > SO COOL CODING<br><br>
      > MORE FUN FACTS CODING<br>
    </div>
    
  </ion-card>
</ion-row>
</ion-grid>
 -->
