.card-background-page {
    
  .background-color{
    --background-color: #F9007A;
  }
  
    ion-card {
      position: center;
      width: 400px;
    }
 
    img {
      height: 100px;
    }
 
    .card-title {
      font-size: 1.5em;
      position: absolute;
      top: 60%;
      width: 100%;
      padding-left: 20px;
      font-weight: bold;
      color: #fff;
    }
 
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 80%;
      width: 100%;
      padding-left: 20px;
      color: #fff;
    }
 
  }
 
 .headerstyle {
    font-family: 'Lato', sans-serif;
    src: "https://fonts.googleapis.com/css?family=Lato:300,400,700";
    font-weight: bold;
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
 }
 
 .blocktext {
    font-family: 'Lato', helvetica, sans-serif;
    src: "https://fonts.googleapis.com/css?family=Lato:300,400,700"; //need to fix this font.
    font-weight: lighter;
    margin-left: auto;
    margin-right: auto;
    width: 21em
 }