// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');


html, body {
    font-family: "Lato", Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: light;
    --ion-font-family: "Lato", Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --ion-background-color: #f3f6f8;
}

.image-header {
    background-size: cover;
    background-position: center center;
    height: 150px;
    border-radius: 10px;
    .text {
        color: white;
    }
}

.image-btn {
    background-size: cover;
    background-position: center center;
    height: 100px;
    .text {
        color: white;
    }
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

.pink-btn {
    background-color: #F9007A;
    display: inline-block;
}

.roundbutton {
    border-radius: 10px;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
