<!-- NAVBAR UP HERE -->
<div class='container'>
  <div class='row'>
    <div class='col-10 offset-1'>
        <h4 class='font-weight-bold mb-4 mt-5'>What field are you most interested in exploring?</h4>
        <p class='mb-5'>Tap on one to learn more about your options this summer. Don't worry if you aren't sure about what to choose right now, this can be changed later.</p>
    </div>
  </div>
  <div class='row'>
    <div class='col-12'>
      <div class='image-btn rounded' (click) = 'isbuttonClicked()' style="background-image: url('assets/images/technology.jpg')">
        <h5 class="text p-3">
          Technology
        </h5>
      </div>
    </div>
    <div class='col-12'>
      <div class='image-btn rounded' (click) = 'isbuttonClicked()' style="background-image: url('http://cdn2.ixperience.co.za/assets/home/pillar-learn-f4742d7a3d241364bda73f8a9fcacd7315ea612d3334d57edbb3714c4bf20f4e.jpg')">
        <h5 class="text pt-3 pl-3">
          Business
        </h5>
      </div>
    </div>
    <div class='col-12'>
      <div class='image-btn rounded' (click) = 'isbuttonClicked()' style="background-image: url('http://cdn2.ixperience.co.za/assets/home/pillar-learn-f4742d7a3d241364bda73f8a9fcacd7315ea612d3334d57edbb3714c4bf20f4e.jpg')">
        <h5 class="text pt-3 pl-3">
          Design
        </h5>
      </div>
    </div>
  </div>
</div>