<!-- NAVBAR UP HERE -->
<ion-content overflow-scroll="true">
  <div class='container'>
    <div class='row'>
      <div class='col-10 offset-1'>
        <h4 class='font-weight-bold mb-4 mt-5'>What field are you most interested in exploring?</h4>
        <p class='mb-3 font-weight-lighter'>Tap on one to learn more about your options this summer. Don't worry if you aren't sure about what to choose right now, this can be changed later.</p>
    </div>
  </div>
  <div class='row'>
    <div class='col-12'>
      <div class='image-btn rounded mb-3' (click) = 'fieldClick("tech")' style="background-image: url('assets/images/technology.jpg')">
        <h5 class="text bottom-left pl-3 pb-3">
          Technology
        </h5>
      </div>
    </div>
    <div class='col-12'>
      <div class='image-btn rounded mb-3' (click) = 'fieldClick("business")' style="background-image: url('http://cdn3.ixperience.co.za/assets/home/pillar-impact-374feca6fba72fb7f8c782fc7dfbe61416672643e8105f71b255bb6509f0625c.jpg')">
        <h5 class="text bottom-left pl-3 pb-3">
          Business
        </h5>
      </div>
    </div>
    <div class='col-12'>
      <div class='image-btn rounded mb-3' (click) = 'fieldClick("design")' style="background-image: url('http://cdn2.ixperience.co.za/assets/backgrounds/digital-design-video-bg-9a6b268538f26176af3b3e54222c89907c4a8d11d500bad861b39ad733850d6b.jpg')">
        <h5 class="text bottom-left pl-3 pb-3">
          Design
        </h5>
      </div>
    </div>
  </div>
</ion-content>