.youroptions-page {

	.cool-header {
		padding-top: 20px;
		padding-left: 40px;
		padding-right: 40px;
		font-size: 20px;
		font-family: "Lato", Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	}

	.cool-text {
		padding-top: 20px;
		padding-left: 40px;
		padding-right: 40px;
		font-size: 13px;
		font-family: "Lato", Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	}

	ion-card {
		position: center;
		width: 350px;
	}
	
	img {
		height: 130px;
		padding-right: 250px;
	}

	.card-title {
		font-size: 1.5em;
		font-family: "Lato", Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
		position: absolute;
		top: 65%;
		width: 100%;
		padding-left: 20px;
		font-weight: bold;
		color: #fff;
		-webkit-text-stroke-width: 0.3px;
		-webkit-text-stroke-color: black;
	}


	.card-text {
		font-size: 1em;
		font-family: "Lato", Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
		position: absolute;
		top: 10%;
		width: 100%;
		padding-left: 115px;
		color: black;
		font-weight: lighter;
	}

	.ion-button {
		height: 20px;
		position: absolute;
		width: 75%;
		padding-left: 150px;
		font-size: 0.5em;
		font-family: "Lato", Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
		font-weight: bold;
	}

	hr {
		width: 20px;
		height: 1px;
		background-color:#F9007A;
		opacity: 0.5;
		width: 100%;
		padding-left: 115px;
		font-weight: bold;
	}
	
	.headerstyle {
		font-family: 'Lato', sans-serif;
		src: "https://fonts.googleapis.com/css?family=Lato:300,400,700";
		font-weight: bold;
		width: 100%;
		padding-left: 80px;
		padding-right: 80px;
	}
	
	.blocktext {
		font-family: 'Lato', helvetica, sans-serif;
		src: "https://fonts.googleapis.com/css?family=Lato:300,400,700"; //need to fix this font.
		font-weight: lighter;
		margin-left: auto;
		margin-right: auto;
		width: 21em
	}

}
