<ion-header class="course-info-header">
  <ion-toolbar no-padding>
      <ion-grid style="height: 100%">
          <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-card no-padding>
          <img src="https://lonelyplanetimages.imgix.net/mastheads/stock-photo-welcome-to-cape-town-104168527.jpg?sharp=10&vib=20&w=1200"/>
          <div class="card-title">{{course.name}}</div>
          <div class="card-subtitle">Available in {{availableCities}}</div>
        </ion-card>
        </ion-row>
        </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="course-info-content">
    <ion-grid style="height: 100%">
        <ion-row justify-content-center align-items-center style="height: 100%">
  <ion-card>
    <div class="alum">
        <ion-avatar>
          <img src="http://ixperience.co.za/favicon.ico">
        </ion-avatar>
        Before iX, I never even typed a single line of code. 
        After 6 weeks, I was able to create a web app for a new building security sign-in method, 
        applying the skills I learned in the clasroom in my internship.
    </div>
    <div class="dates">
        <b>Dates & Credits:</b><br><br>
        6 weeks, 6 credits, two session options. <br><br>
        May 28 - August 14 
        <hr>
        OR
        <hr>
        June 15 - August 20, 2020
    </div>

    <ion-row>
      <ion-col width-50 style="text-align: right">
        <ion-button color="grey" small>Email Me A Brochure</ion-button>
      </ion-col>
      <ion-col width-50 style="text-align: left" (click) = "navToCities()">
        <ion-button color="pink" small>Continue Application</ion-button>
      </ion-col>
    </ion-row>
    
  </ion-card>
  <div class="course-options">
    <ion-grid style="height: 100%">
      <ion-row *ngFor="let course of otherOptions let i=index;" (click) = "navToCourseInfo(index, course)">
        <ion-card>
          <div class="card-credits">
            <ion-button size="small" color="light">6 credits</ion-button>
          </div>
          <img src="https://lonelyplanetimages.imgix.net/mastheads/stock-photo-welcome-to-cape-town-104168527.jpg?sharp=10&vib=20&w=1200"/>
          <div class="card-title">{{course[0].name}}</div>
          <div class="card-subtitle">Available in {{course[1]}}</div>
        </ion-card>
      </ion-row>
    </ion-grid>
    </div>

</ion-row>
</ion-grid>

</ion-content>
