<!-- <ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header> -->

<div class='container'>
    <div class='row'>
      <div class='col-10 offset-1'>
          <h4 class='font-weight-bold mb-4 mt-5'>Nice. You have three tech-focused course-internship programs to choose from this summer.</h4>
          <p class='mb-3'>Tap on one to learn more.</p>
          <p class='mb-3'><i>No prior experience is required for any of these programs.</i></p>
      </div>
    </div>
    <div class='row'>
      <div class='col-12'>
        <div class='image-btn rounded' (click) = 'buttonClick()' style="background-image: url('http://cdn2.ixperience.co.za/assets/home/pillar-learn-f4742d7a3d241364bda73f8a9fcacd7315ea612d3334d57edbb3714c4bf20f4e.jpg')">
          <h5 class="text pt-5 pl-3 font-weight-bold">
            Full Stack Coding
          </h5>
        </div>
      </div>
      <div class='col-12'>
        <div class='image-btn rounded' (click) = 'buttonClick()' style="background-image: url('http://cdn2.ixperience.co.za/assets/home/pillar-learn-f4742d7a3d241364bda73f8a9fcacd7315ea612d3334d57edbb3714c4bf20f4e.jpg')">
          <h5 class="text pt-5 pl-3 font-weight-bold">
            Data Science
          </h5>
        </div>
      </div>
      <div class='col-12'>
        <div class='image-btn rounded' (click) = 'buttonClick()' style="background-image: url('http://cdn2.ixperience.co.za/assets/home/pillar-learn-f4742d7a3d241364bda73f8a9fcacd7315ea612d3334d57edbb3714c4bf20f4e.jpg')">
          <h5 class="text pt-5 pl-3 font-weight-bold">
            Product Management
          </h5>
        </div>
      </div>
    </div>
  </div>

