<ion-content overflow-scroll="true">
  <div class='row'>
    <div class='col-12 text-center'>
      <div class='image-header py-4 px-3' style="background-image: url('assets/images/capetown.jpg')">
      <h4 class='text font-weight-bold mb-2 mt-0'>{{city.name}}</h4>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class='row'>
        <div class='col-6'>
          <div class='image'>
            <img class='card-img roundbutton img img-responsive full-width' src="assets/images/hike.jpg">
          </div>
          <p class='caption'> Hike famous mountains</p>
        </div>
        <div class='col-6'>
          <div class='image'>
            <img class='card-img roundbutton img img-responsive full-width' src="assets/images/beach.jpg">
          </div>
          <p class='caption'>Surf perfect beaches</p>
        </div>
      </div>
        <div class='row'>
          <div class='col-6'>
            <div class='image'>
              <img class='card-img roundbutton img img-responsive full-width' src="assets/images/culture.jpg">
            </div>
            <p class='caption'>Immerse in rich culture</p>
          </div>
          <div class='col-6'>
            <div class='image'>
              <img class='card-img roundbutton img img-responsive full-width' src="assets/images/local.jpg">
            </div>
            <p class='caption'>Live the local lifestyle</p>
          </div>
        </div>
        <div class='row'>
          <div class='col-10 offset-1 text-center'>
            <div class="embed-responsive embed-responsive-16by6" class='mb-2 text-center rounded'>
              <iframe width="300" height="225" src="https://www.youtube.com/embed/rVwqYQbdd74" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class='col-12 text-center'>
            <button type='button' class='roundbutton pink-btn btn-btn-primary btn-lg text-white font-weight-bold' style='font-size: 18px' (click)='navToFinAid()'>Select {{city.name}} & continue</button>
            <p class='mt-3' style='font-size: 12px'><i>Two more steps left to apply. Early apps preferred.</i></p>
          </div>
        </div>
      </div>
    </div>
    <div class='col-12 text-center'>
      <h3 class='font-weight-bold pt-3'>Other city options</h3>
    </div>
    <div class='col-10 offset-1' *ngFor="let city of otherOptions let i=index;" (click) = "navToCityInfo(index, city)">
      <div class='image-btn rounded mb-4' style="background-image: url('assets/images/lisbon.jpg')">
        <h5 class="text bottom-left pl-3 pb-3">
          {{city.name}}
        </h5>
      </div>
    </div>
  </div>
</ion-content>