<div class='row'>
    <div class='col-12 text-center'>
      <div class='image-header py-4 px-3' style="background-image: url('assets/images/capetown.jpg')">
      <h4 class='text font-weight-bold mb-2 mt-0'>Cape Town, South Africa</h4>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class='row'>
        <div class='col-6'>
          <img class='card-img thumbnail img-responsive' src="http://cdn0.ixperience.co.za/assets/home/immerse-25313772d8e5963c8e60b53d4debff64f7cdb3bdf4d1335299ccc2994ba26445.jpg" class='rounded'>
          <p>Hike famous mountains</p>
        </div>
        <div class='col-6'>
          <img class='car-img thumbnail img-responsive' src="http://cdn3.ixperience.co.za/assets/activities/sunrise-ba671585c754896914a531821f717daff693e80975c68a12981fbb616b18a1de.jpg" class='rounded'>
          <p>Surf perfect beaches</p>
        </div>
        <div class='row'>
          <div class='col-6'>
            <img class='card-img thumbnail img-responsive' src="http://cdn0.ixperience.co.za/assets/home/immerse-25313772d8e5963c8e60b53d4debff64f7cdb3bdf4d1335299ccc2994ba26445.jpg" class='rounded'>
            <p>Immerse in rich culture</p>
          </div>
          <div class='col-6'>
            <img class='car-img thumbnail img-responsive' src="http://cdn3.ixperience.co.za/assets/activities/sunrise-ba671585c754896914a531821f717daff693e80975c68a12981fbb616b18a1de.jpg" class='rounded'>
            <p>Live the local lifestyle</p>
          </div>
        </div>
        <div class='text-center'>
          <button type='button' class='roundbutton pink-btn btn-btn-primary btn-lg text-white font-weight-bold' (click)='navToFinAid()'>Select Cape Town & continue</button>
        </div>
      </div>
    </div>
  </div>
</div>