<div class='row'>
    <div class='col-12 text-center'>
      <div class='image-header rounded-lg py-4 px-3' style="background-image: url('assets/images/capetown.jpg')">
      <h4 class='text font-weight-bold mb-2 mt-0'>Cape Town, South Africa</h4>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class='row'>
        <div class='col-6'>
          <img class='card-img thumbnail img-responsive' src="http://cdn0.ixperience.co.za/assets/home/immerse-25313772d8e5963c8e60b53d4debff64f7cdb3bdf4d1335299ccc2994ba26445.jpg" class='rounded'>
          <p>Hike famous mountains</p>
        <div class='col-6'>
          <img class='car-img thumbnail img-responsive' src="http://cdn3.ixperience.co.za/assets/activities/sunrise-ba671585c754896914a531821f717daff693e80975c68a12981fbb616b18a1de.jpg" class='rounded'>
          <p>Surf perfect beaches</p>
        </div>
        <!-- <div class='row'>
            <div class='col-6'>
                <div class='text-center'>
                  <img src="http://cdn0.ixperience.co.za/assets/people/stephanie-shin-7bb590a17d9f8bf0e1188db26d11392391c592d3344e1ab0d97e9e977ccd4aee.jpg" class='rounded'>
                  <p>Hike famous mountains</p>
                </div>
                <div class='col-6'>
                  <div class='text-center'>
                    <img src="http://cdn0.ixperience.co.za/assets/people/stephanie-shin-7bb590a17d9f8bf0e1188db26d11392391c592d3344e1ab0d97e9e977ccd4aee.jpg" class='rounded'>
                    <p>Hike famous mountains</p>
                  </div>
                </div>
              </div> -->
            <div class='row'>
          <button type='button' class="btn-btn-primary btn-sm rounded font-weight-bold">Email me a brochure</button>
          <button type='button' class='pink-btn btn-btn-primary btn-sm rounded ml-4 text-white font-weight-bold' (click)='navToCourseCities()'>Select & continue</button>
        </div>
      </div>
    </div>
  </div>
</div>